.App {
  font-family: Roboto, sans-serif;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}

.todolistsFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  align-items: stretch;
  margin: 0 50px;
}

.todolist {
  min-width: 250px;
  max-width: 300px;
  word-break: break-all;
}

.todolistHeader {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.todolist-title-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.taskCenter {
  display: flex;
  align-items: center;
}

.addItemForm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.paper {
  padding: 15px;
  height: 100%;
}

.filterButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*ul {*/
/*  list-style-type: none;*/
/*  padding: 0;*/
/*}*/

/*ul > li {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
