.titleContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
}